<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p class='oe_mt32'>
                This module is used to add products in sale and purchase order using barcode scanner.
            </p>
            <p class='oe_mt16'>-- Search product for entered barcode if barcode is valid ean13.</p>
            <p class='oe_mt16'>-- In case entered barcode is not valid ean13 or product does not found with barcode value then it match entered barcode with internal reference of product.</p>
            <p class='oe_mt16'>-- Add a quantity to product if product line already exists in order.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Add products to sale order</h2>
        </div>
        <div class="oe_span12">
             <img class="oe_picture oe_screenshot" src="saleOrder.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Add products to purchase order</h2>
        </div>
        <div class="oe_span12">
             <img class="oe_picture oe_screenshot" src="purchase_order.png"/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
             <img class="oe_picture oe_screenshot" src="warning.png"/>
        </div>
         <div class="oe_span6">
            <p>Raise warning if product does not exists or if found product can not be sale or purchase.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Unique Constraints for barcode and internal reference fields</h2>
        </div>
        <div class="oe_span6">
             <img class="oe_picture oe_screenshot" src="constraints.png"/>
        </div>
         <div class="oe_span6">
            <p>Does not allow barcode and internal reference that is already assigned to a product.</p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
         <div class="oe_span6">
            <p>Find requirements.txt file for required python packages.</p>
        </div>
    </div>
</section>
