    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <h2 class="oe_slogan"><font color='#3b5998'>Newly Added Feature</font></h2>
                <h3 class="oe_slogan"><font color='#616161'>Now Print Product images in Sale/Quotation Report</font></h3>
            </div>
            <div class="oe_span6">
                <div class="col-md-12" style="padding-left:0px;">
                    <img class="img-border img-responsive thumbnail" src="quote.jpeg">
                </div>
                <h4 class="text-center">Select to print Images in report</h4>
            </div>

            <div class="oe_span6">
                <div class="col-md-12" style="padding-left:0px;">
                    <img class="img-border img-responsive thumbnail" src="report.jpeg">
                </div>
                <h4 class="text-center">Get images in report</h4>
            </div>
            <div class="oe_span12">
                <p style="margin-bottom:1cm;"/>

            </div>

            <div class="oe_span12">
                <h2 class="oe_slogan"><font color='#3b5998'>Product Images in Website Quotation</font></h2>
                <h3 class="oe_slogan"><font color='#616161'>Impress your customers with product Images in Website Quotation</font></h3>
            </div>
            <div class="oe_span12">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="quote.png" >
                </div>
            </div>
            <div class="oe_span12">
                <p>
                   By default, there are no product images in Website Quotation. Add product images in Quotation lines and make them impressive.
                </p>                          
            </div>
        </div>
    </section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>