<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Email Organizer Pro</h2>
            <h3 class="oe_slogan">Organize your messages inside the ERP in a few clicks</h3>
            <h4 class="oe_slogan"><a href="http://youtu.be/KRGR6lQBPgU?yt:cc=on" target="_blank">Click here to watch the demo on Youtube</a></h4>
        </div>
    </div>
    <div class="oe_row oe_spaced oe_dark">    
        <div class="oe_span6">
            <p class="oe_mt32">
            Allows you to move a message easily to a specific business object; E.G: Sale Order, Purchase Order, CRM Lead, etc...
            </p>
            <p>
            To start organizing your messages simply click on the "assign to" icon.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="organize.png">
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Quickly detect unassigned messages.</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="green_icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
            A green icon means that the email is already belonging to a business object whereas a white icon means that the email is unassigned.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced oe_dark">
        <div class="oe_span12">
            <h2 class="oe_slogan">Useful filter to help you organizing your messages</h2>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
            A filter field is available to help you filtering business object available resources:
            <ul>
                <li><strong>By Author:</strong> Filter the resource where the partner and the message author are the same persons. It is the default filter for unassigned email.</li>
                <li><strong>By Partner:</strong> Filter the resource where the partner and the currently assigned object partner are the same persons. It is the default filter for mail which are already assigned.</li>
            </ul>
            Filters are only available on business objects containing a partner field such as a Sale Order, Purchase Order, Opportunity and many others.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="filter.png">
            </div>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Quick and easy configuration</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="configuration.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                <p>
                    Restrict the business objects where emails can be moved to.
                </p>
                <p>
                    Menu available in "Settings" -> "Email" -> "Email Organizer".
                    Check the "Use in Email Organizer" checkbox to authorize a business object.
                </p>
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced oe_dark">
        <div class="oe_span12">
            <h2 class="oe_slogan">This module is available in English, French and Chinese.</h2>
        </div>
    </div>
</section>