<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Abilita pulsante Scrivi Mail</h2>
        <h3 class="oe_slogan">Abilita il pulsante "Scrivi Mail" nella casella di posta</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Visualizza il pulsante "Scrivi Mail"</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
Abilitando questo modulo, l'utente potr&agrave; comporre nuove mail dalla sua casella di posta.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="compose_mail_button.png">
            </div>
        </div>
    </div>
</section>

