<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 8 HR: Employee Check In/Check Out</h2>
            <h3 class="oe_slogan">Employee can Check In/Check Out quickly from kanban view and print report.</h3>

            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;">We have employee Check In/Check Out button on kanban view, so user can sign in/sign out directly from here.</li>
            </ul>
            <img style="max-width: 100%;" src="main_screenshot.png"><br /><br />
            <ul>
                <li style="color:#30054D;">We have facility to print and save report between given dates.</li>
            </ul>
            <img style="max-width: 100%;" src="attendance_report_wizard.png"><br /><br />
            <ul>
                <li style="color:#30054D;">Here is the sample report format.</li>
            </ul>
            <img style="max-width: 100%;" src="odoo_hr_attendance_report.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_red">
    <div class="oe_row "> 
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
            <h3 class="text-center" style="color:#FFF">Contact us for support, query, customization</h3>
        </div>
            <span>
                <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
                <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
                <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
            </span>
        </div>
    </div>
</section>
