<h2>sCodazzi - Gantt Improvement</h2>
<br />
<b>Version: </b> 1.4

<br />
<b>Features: </b><br />
<ul>
    <li>New version of dhtmlxGantt.</li>
    <li>The gantt graph scrollbar was adapted on the browser size.</li>
    <li>Link between tasks in gantt (project to tasks).</li>
    <li>Link between next tasks in gantt (exemple: Long term project in V7)</li>
</ul>
<br />

<b>Install: </b>
<ul>
    <li>The plugin was configured for Odoo v8.0.</li>
</ul>
<br />

<b>Support:</b> <a href="https://github.com/stephane-/odoo_addons/issues">on Github</a> <br />
<a href="https://github.com/stephane-/odoo_addons/issues?utf8=%E2%9C%93&q=label%3AFixed+">Fixed issues</a><br />

<br />
<b>Translation: </b>
<ul>
    <li>EN</li>
    <li>FR</li>
    <li>SL</li>
</ul>

<br />
<b>Screenshot: </b>
<br />
<img src="https://github.com/stephane-/gantt_improvement/raw/8.0/content/screen1.png"/>
