@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body,
.openerp {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

.openerp.openerp_webclient_container {
    height: calc(100% - 55px);
}

.openerp td {
    vertical-align: middle;
}

.openerp .oe_gantt td {
    vertical-align: top;
}

.openerp .oe_form_group td {
    vertical-align: top;
}

#menu_more li a,
#menu_more li button {
    padding: 15px!important;
}

#oe_main_menu_navbar {
    background: #7e57c2!important;
}

#oe_main_menu_navbar .dropdown-menu li a,
#oe_main_menu_navbar .dropdown-menu li button {
    padding: 13px 15px!important;
}

#oe_main_menu_navbar .navbar-nav.navbar-right:last-child {
    float: right!important;
}

#oe_main_menu_navbar .oe_topbar_avatar {
    max-height: 18px!important;
}

#oe_main_menu_navbar li a,
#oe_main_menu_navbar li button {
    font-size: 14px!important;
    margin-top: 0!important;
    padding: 18px 15px!important;
}

.btn-primary,
.oe_suggestion_follow {
    background: #5e35b1!important;
    border: none!important;
    box-shadow: none!important;
    color: #fff!important;
}

.openerp button,
.openerp .oe_button {
    border: none;
    background: none;
}

.openerp ul.oe_form_status_clickable li.oe_active:hover>.label,
.openerp ul.oe_form_status_clickable li:hover>.label {
    text-decoration: underline!important;
}

.btn.oe_follower.oe_notfollow {
    background: #009688!important;
}

.dropdown-menu .active a {
    background: #fff!important;
    color: #000!important;
    font-weight: 700;
}

.dropdown-menu a:hover {
    background: #f9f9f9!important;
    color: #000;
}

.navbar .oe_topbar_name {
    height: 15px!important;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background: #673ab7!important;
    font-weight: 700!important;
}

.oe-autocomplete li {
    padding: 10px 20px;
}

.oe_application {
    background: #f9f9f9!important;
}

.oe_application_menu_placeholder>li.active:hover {
    border-bottom: 0!important;
}

.oe_attachment_file * {
    cursor: pointer!important;
}

.oe_breadcrumb_item {
    font-size: 22px!important;
    font-weight: 400!important;
}

.oe_breadcrumb_title span {
    color: #7e57c2!important;
    font-size: 30px!important;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row h2 {
    font-weight: 400;
    color: #7e57c2!important;
    font-size: 34px!important;
}

.oe_button {
    box-shadow: none!important;
}

.oe_calendar_sidebar .ui-datepicker-month {
    margin-left: -10px!important;
    text-align: center;
}

.oe_calendar_sidebar span.ui-icon.ui-icon-circle-triangle-e,
.oe_calendar_sidebar span.ui-icon.ui-icon-circle-triangle-w {
    top: 4px;
}

.oe_calendar_table.oe_view.oe_cannot_create {
    width: 99%;
}

.oe_e a {
    border: none!important;
    font-size: 48px!important;
}

.oe_facet_category.oe_i {
    margin-top: -1px!important;
}

.oe_form header .oe_form_field_status.oe_form_status_clickable li:last-of-type ul.oe_dropdown_menu.oe_opened {
    left: initial!important;
    right: 5px!important;
    width: 150px!important;
}

.oe_form_container.oe_form_nosheet>span {
    width: 100%;
    margin-top: 5px!important;
}

.oe_form_field_status .label {
    margin-right: 5px!important;
}

.oe_form_field_status .oe_active .label {
    color: #673ab7!important;
    font-weight: 700;
}

.oe_form_field_status li .arrow span {
    margin-top: 7px!important;
    width: 13px!important;
}

.openerp .oe_leftbar {
    border-right: 1px solid #bfbfc6;
}

.oe_leftbar {
    background: 0!important;
    padding: 0!important;
}

.oe_leftbar li a {
    padding: 10px 30px!important;
}

.oe_link {
    background: none;
    text-shadow: none!important;
    padding: 0!important;
}

.openerp_style.oe_im_chatview.ui-droppable {
    background: #fff!important;
    min-height: 48px;
}

.oe_im_chatview {
    width: 230px;
}

.oe_im_chatview .oe_im_chatview_header_name {
    height: 20px;
}

.oe_im_chatview .oe_im_chatview_date_separator {
    width: auto;
    margin: 0 17px;
}

.oe_im,
.oe_im .oe_im_frame_header {
    background: #f9f9f9;
}

.oe_im_user:hover {
    background: #eee;
}

.oe_msg {
    background: #fff!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)!important;
}

.oe_searchview {
    background: #f9f9f9!important;
    border: none!important;
    border-bottom: #e0e0e0 2px solid!important;
    border-radius: 0!important;
    box-shadow: none!important;
    height: 30px;
    padding: 10px!important;
}

.oe_secondary_menu_section {
    color: #000!important;
    font-size: 13px!important;
    font-weight: bolder!important;
    padding-left: 20px!important;
}

.oe_secondary_submenu .oe_menu_leaf {
    border-left: 2px solid transparent!important;
    color: #333!important;
    display: block!important;
    font-weight: 400!important;
    letter-spacing: .1px!important;
    white-space: nowrap!important;
    padding: 10px 0 8px 36px !important;
}

.oe_secondary_submenu li.active a {
    background: 0!important;
    color: #673ab7!important;
    font-weight: 700!important;
}

.oe_tag.oe_tag_dark.oe_searchview_facet {
    background: #eee!important;
    border: #ccc 1px solid!important;
    border-radius: 3px!important;
    padding: 3px 3px 1px!important;
}

.oe_thread {
    margin: 10px 0 15px;
}

.oe_tree_table {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin: 30px 0;
}

.oe_view_manager_header {
    background: 0!important;
}

.oe_view_manager_switch {
    background: #f9f9f9!important;
    border: none!important;
}

.oe_view_manager_switch li a {
    display: block!important;
}

.openerp .nav-pills>li.active .badge,
.openerp a.list-group-item.active .badge {
    background: #6c6b9d;
    color: #fff;
}

.openerp .oe-treeview-table span {
    font-weight: 700;
}

.openerp .oe-treeview-table td {
    border: none;
    font: 700 13px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    min-height: 80px!important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.openerp .oe-treeview-table th {
    background: #eee!important;
    color: #757575;
    padding-left: 25px;
}

.openerp .oe_application .oe_form_sheet {
    background: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)!important;
}

.openerp .oe_application .oe_view_manager_switch a,
.openerp .oe_application .oe_view_manager_pager a {
    color: #4c4c4c!important;
}

.openerp .oe_application a {
    color: #009688;
}

.openerp .oe_button.oe_link span {
    color: inherit!important;
}

.openerp .oe_button.oe_link span:hover {
    color: inherit;
}

.openerp .oe_dropdown_menu>li:hover {
    background: #f5f5f5!important;
}

.openerp .oe_followers button.oe_follower.oe_following,
button.btn.oe_follower.oe_notfollow {
    border-radius: 2px 0 0 2px!important;
}

.openerp .oe_form div.oe_chatter {
    max-width: none!important;
    padding: 8px;
}

.openerp .oe_form_sheet_width {
    max-width: none;
}

.openerp .oe_form_sheetbg {
    padding: 0 0 10px 0;
}

.openerp .oe_form_sheetbg.openerp_mail_group_sheet .oe_form_sheet {
    padding: 18px;
}

.openerp .oe_leftbar>div a.oe_logo {
    height: 100px!important;
}

.openerp .oe_list_content>tbody>tr>td>button,
.openerp .oe_list_content>tbody>tr>th>button {
    color: #888!important;
}

.openerp .oe_searchview .oe_searchview_facets {
    border-radius: 0!important;
    margin-top: -9px!important;
}

.openerp .oe_searchview_drawer .button {
    color: #009688!important;
}

.openerp .oe_secondary_submenu .oe_menu_opened:before {
    margin: 6px 0 0;
}

.openerp .oe_secondary_submenu .oe_menu_toggler:before {
    margin-left: -8px;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active a {
    color: #673ab7!important;
    text-shadow: none!important;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group li {
    border: none!important;
    margin: 0 5px!important;
}

.openerp .oe_tag_dark,
.oe_facet_category,
.oe_facet_values {
    background: none;
    border: none!important;
    color: #673ab7!important;
    font-size: 12px;
    font-weight: 700!important;
    text-shadow: none!important;
}

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active {
    background: #f9f9f9!important;
    border: none!important;
    border-radius: 50%!important;
    box-shadow: none!important;
}

.openerp button:disabled {
    background: #ddd;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: #444;
    height: auto;
    text-shadow: none;
    transition: all .2s;
    width: auto;
    padding: 8px 16px;
}

.openerp ul.oe_form_status li.oe_active,
.openerp ul.oe_form_status_clickable li.oe_active,
.oe_form_field_status li,
.oe_form_field_status li span {
    background: none!important;
    border: none!important;
    text-shadow: none!important;
}

.pull-left {
    float: left!important;
}

.stat_button_icon:before {
    font-size: 16px!important;
    margin: 7px!important;
}

.ui-datepicker {
    height: auto;
    width: auto;
    padding: 20px;
}

.ui-datepicker-month {
    border: none!important;
    box-shadow: none!important;
    display: inline-block!important;
    text-align: right!important;
    width: 55px!important;
    background: #eee!important;
    margin: 0 0 0 20px !important;
}

.ui-datepicker-year {
    border: none!important;
    box-shadow: none!important;
    display: inline-block!important;
    width: 55px!important;
    background: #eee!important;
}

.oe_calendar_sidebar .ui-datepicker .ui-datepicker-prev,
.oe_calendar_sidebar .ui-datepicker .ui-datepicker-next {
    top: 12px;
}

.openerp .oe_application .ui-datepicker-calendar a {
    color: #673ab7;
}

.openerp .oe_application .ui-datepicker-calendar .ui-state-active {
    background: #673ab7;
    color: #fff;
    border-radius: 3px;
}

.openerp .oe_application .ui-datepicker td .ui-state-hover {
    background: #8A71B6;
    color: #fff;
    cursor: pointer;
}

.ui-menu-item .ui-state-focus {
    background: none;
    text-shadow: none!important;
}

.openerp .oe_remove_follower {
    right: 20px;
}

.oe_im_chatview .oe_im_chatview_time {
    right: 15px;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    background: none;
    color: inherit;
}

.oe_im_chatview_header {
    height: 48px;
    background: #eee!important;
    font-weight: 700;
    border-bottom: #ccc 1px solid!important;
}

.oe_im_chatview_header_name {
    margin: 12px 10px;
}

.oe_im_chatview_message_bubble {
    margin-left: 10px!important;
}

.oe_im_chatview_clip {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)!important;
    left: -5px;
}

.openerp .oe_list_content td.oe_list_field_handle .oe_list_handle {
    margin-top: 6px;
}

.openerp .oe_list_content>tbody>tr>td>button {
    box-shadow: none;
}

.openerp .oe_list_content>tbody>tr>td>button:hover {
    color: #673AB7!important;
}

.nav-pills>li>a>.badge {
    margin-right: 10px;
}

.openerp .ui-datepicker-calendar thead,
.openerp .ui-datepicker-calendar thead tr th,
.ui-datepicker .ui-datepicker-header {
    background: #eee!important;
    padding: 5px;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea {
    border: none;
    height: 32px!important;
    border-bottom: #ddd 2px solid!important;
    outline: none;
}

.oe_form_container.oe_form_nosheet>* {
    border: none;
}

.modal-header {
    min-height: 45px;
    background-color: #f9f9f9
}

.modal-header button.close {
    margin-top: -7px;
    color: #444
}

.modal-body {
    background-color: #fff
}

.modal-footer {
    background-color: #f9f9f9
}

.oe_msg_content .oe_full {
    margin-top: -5px!important;
}

.oe-treeview-table th {
    background: #fff;
}

.navbar-inverse,
.openerp thead th,
.ui-datepicker-buttonpane {
    border: none!important;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.oe_application_menu_placeholder>li.active a:hover,
.oe_application_menu_placeholder>li:hover {
    background: #673ab7!important;
}

.oe_breadcrumb_title a.oe_breadcrumb_item {
    color: #888!important;
    font-size: 18px!important;
}

.openerp .oe_fade {
    color: #888!important;
}

.oe_form_sheetbg,
.openerp .oe_form header {
    padding: 8px;
}

.openerp .oe_form header {
    background: #ededed;
}

.openerp .oe_form_container.oe_form>:not(.oe_form_nosheet) header,
.openerp .oe_form>.oe_form_nosheet header {
    padding-left: 8px;
}

.openerp .oe_application .oe_form header .oe_button {
    float: left;
}

.openerp .oe_application .oe_form .oe_form_configuration header .oe_button {
    float: none;
}

.oe_im_user,
.oe_msg.oe_msg_composer {
    padding: 10px;
}

.oe_module_desc,
.ui-datepicker-month option,
.ui-datepicker-year option {
    color: #888;
}

.oe_searchview.oe_focused,
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea:focus {
    border-bottom: #009688 3px solid!important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.openerp .oe_list_content .oe_group_header th {
    padding: 12px 8px 10px 8px!important;
}

.openerp .oe_list_content>tbody>tr:nth-child(odd) {
    background: #ffffff;
}

enerp th {
    vertical-align: top;
}

.openerp thead th {
    font-size: 14px;
}

.openerp .oe_list .oe_list_content .oe_group_header {
    background-image: none;
}

.openerp .oe_list_editable .oe_list_content td.oe_list_field_cell,
.openerp .oe_list_content>tbody>tr>td.oe_list_field_cell {
    padding: 10px 6px;
}

.openerp .oe_list_content td,
.openerp .oe_list_content th {
    padding: 10px 6px;
}

.openerp .oe_list_content th {
    padding: 0px 8px 0px 8px!important;
}

.openerp .oe_list_content .oe_list_header_columns th {
    padding: 12px 8px 10px 8px!important;
}

.openerp .oe_form_editable .oe_list_editable .oe_list_content td.oe_required {
    background: #EDE7F6;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field input,
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea {
    border: none;
    border-bottom: #ccc 2px solid;
}

.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field input:focus,
.openerp .oe_list.oe_list_editable.oe_editing .oe_form_field textarea:focus {
    border-color: #009688;
}

.openerp .oe_kanban_view {
    background: #616161!important;
}

.openerp .oe_kanban_group_header span.oe_tag {
    background: #fff!important;
    color: #000!important;
}

.openerp .oe_kanban_view .oe_kanban_ungrouped .oe_kanban_column .oe_kanban_record {
    padding: 10px!important;
}

.openerp .oe_kanban_view.oe_background_grey>table.oe_kanban_groups {
    width: 100%!important;
}

.openerp .oe_kanban_view .oe_kanban_vignette,
.oe_module_vignette,
.oe_employee_vignette {
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: left;
}

.openerp .oe_kanban_view .oe_kanban_card,
.openerp .oe_kanban_view .oe_kanban_quick_create {
    padding: 10px!important;
}

.openerp .oe_kanban_view .oe_kanban_crm_salesteams {
    width: 364px!important;
}

.openerp .oe_kanban_content h4 {
    font-size: 16px!important;
}

.openerp .oe_kanban_view .oe_kanban_salesteams_avatars {
    margin-top: 10px!important;
}

.openerp .oe_kanban_view .oe_kanban_footer_left .oe_kanban_mail_new {
    background-color: #BF2C2C!important;
    font-weight: normal!important;
    padding: 0px 5px!important;
}

.openerp .oe_kanban_view .oe_kanban_footer_left>span {
    border: none!important;
    padding: 0px 5px!important;
}

.openerp .oe_kanban_view .oe_kanban_footer_left>span .oe_e {
    line-height: 16px!important;
    font-size: 23px!important;
}

.openerp .oe_kanban_view .oe_dropdown_kanban {
    margin-top: -8px!important;
}

.openerp .oe_kanban_view .oe_kanban_project_list {
    margin-top: 8px!important;
}

.openerp .oe_kanban_view.oe_kanban_ungrouped .oe_kanban_column .oe_kanban_column_cards {
    text-align: center!important;
}

.openerp .oe_kanban_view.oe_kanban_ungrouped .oe_kanban_column .oe_kanban_record {
    padding: 8px!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column,
.openerp .oe_kanban_view .oe_kanban_group_header {
    color: #fff!important;
    background: #616161!important;
    padding: 10px!important;
    border-left: none!important;
    border-right: none!important;
}

.openerp .oe_form .oe_kanban_view .oe_kanban_column,
.openerp .oe_form .oe_kanban_view .oe_kanban_group_header {
    background: #616161!important;
}

.openerp .oe_kanban_view .oe_kanban_groups_records {
    background: #616161!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column:nth-of-type(2n),
.openerp .oe_kanban_view .oe_kanban_group_header:nth-of-type(2n) {
    background: #555555!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column.oe_kanban_column_higlight,
.openerp .oe_kanban_view .oe_kanban_group_header.oe_kanban_column_higlight {
    background: #424242!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_dummy_cell {
    background: #616161!important;
}

.openerp .oe_kanban_view .oe_kanban_group_title {
    text-shadow: none!important;
    color: #fff!important;
    font-size: 18px!important;
    font-weight: normal!important;
}

.openerp .oe_kanban_view .oe_kanban_group_title_undefined {
    color: #eee;
}

.openerp .oe_kanban_view .oe_kanban_card,
.openerp .oe_kanban_view .oe_kanban_quick_create {
    border-radius: 3px!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column,
.openerp .oe_kanban_view .oe_kanban_group_header {
    border: none!important;
}

.openerp span.oe_tag {
    background: #e5e5e5!important;
    border-radius: 3px!important;
    padding: 3px 4px!important;
    border: none!important;
}

.openerp .oe_kanban_view .oe_kanban_footer_left .oe_tags .oe_tag {
    padding: 4px!important;
}

.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_record {
    margin-bottom: 20px!important;
}

.openerp .oe_kanban_view .oe_kanban_record {
    text-align: left!important;
}

.openerp .oe_kanban_view .oe_kanban_bottom_right {
    width: 100%!important;
}

.openerp .oe_kanban_view .oe_kanban_text_red {
    color: #D50000!important;
    text-decoration: none!important;
}

.openerp .oe_kanban_view .oe_kanban_footer_left>span {
    background: none!important;
    padding: 0!important;
    color: #000;
}

.openerp .oe_kanban_view .oe_kanban_group_title_vertical {
    top: 62px!important;
}

.openerp .oe_mail .oe_msg .oe_msg_icons {
    margin-top: -6px;
}

.openerp .oe_mail_wall .oe_mail {
    margin: 0px;
    width: 70%;
    float: left;
    padding: 16px;
}

.openerp .oe_mail_wall .oe_mail_wall_aside {
    margin: 0px;
    width: 30%;
    float: left;
    padding: 16px;
}

.openerp .oe_mail .oe_msg_content.oe_msg_more_message {
    text-align: center;
}

.openerp .oe_mail .oe_msg_more_message .oe_msg_fetch_more {
    margin-right: 0px;
}

.openerp .oe_mail .oe_msg .oe_msg_left {
    top: 10px;
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_star:hover a {
    text-shadow: 0 1px #FFA162, 0 -1px #FFA162, -1px 0 #FFA162, 1px 0 #FFA162, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_star.oe_starred a {
    text-shadow: 0 1px #DF6200, 0 -1px #DF6200, -1px 0 #DF6200, 1px 0 #DF6200, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_reply:hover a {
    text-shadow: 0 1px #184fc5, 0 -1px #184fc5, -1px 0 #184fc5, 1px 0 #184fc5, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_read:hover a {
    text-shadow: 0 1px #7c7bad, 0 -1px #7c7bad, -1px 0 #7c7bad, 1px 0 #7c7bad, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_icons .oe_unread:hover a {
    text-shadow: 0 1px #009441, 0 -1px #009441, -1px 0 #009441, 1px 0 #009441, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.openerp .oe_mail .oe_msg .oe_msg_left {
    left: 7px;
    top: 7px;
}

.openerp .oe_mail .oe_msg.oe_msg_nobody,
.oe_msg_comment {
    margin: 10px 0!important;
    padding: 10px!important;
}

.openerp .oe_mail .oe_msg.oe_msg_notification {
    padding: 10px;
}

.openerp .oe_mail button.oe_attach {
    color: #aaa!important;
    margin-top: -10px!important;
}

.openerp .oe_mail_wall .oe_mail_wall_aside h4 {
    text-align: left;
    padding-bottom: 0px;
    font-weight: normal;
    font-size: 18px;
}

.openerp .oe_mail_wall .oe_mail_wall_aside .oe_goals_list .oe_thead {
    text-align: left;
    padding-bottom: 0px;
}

.oe_gamification_challenge_list .openerp h4 {
    margin: 10px 0 10px;
    font-weight: normal;
    font-size: 18px;
}

.openerp .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item {
    margin-left: 0px;
}

.openerp .oe_sidebar_suggestion .oe_suggest_title h2 {
    font-size: 18px;
    font-weight: normal;
    margin-left: 0px;
    text-align: left;
    margin-top: 10px;
}

.openerp .oe_mail_wall_aside .oe_sidebar_suggestion {
    padding: 5px 10px;
}

.openerp .oe_mail_wall .oe_goal {
    border-bottom: solid 5px #F9F9F9;
    margin-bottom: 0px;
}

.openerp .oe_mail_wall .oe_mail_wall_aside>div {
    border-bottom: solid 5px #F9F9F9;
}

.openerp .oe_sidebar_suggestion .oe_suggest_items .oe_suggested_item_content a.oe_suggestion_remove_item {
    margin-right: 7px;
}

.openerp .oe_mail_wall .oe_goal .oe_update_challenge.oe_e,
.openerp .oe_mail_wall .oe_goal .oe_goal_action.oe_e {
    line-height: 15px;
    margin-top: -2px;
    float: right;
    margin-right: 7px;
}

.openerp .oe_view_manager_current>.oe_view_manager_header {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #bfbfc6;
}

.openerp .oe_searchview_drawer {
    padding: 10px 0;
    background-color: #fff;
}

.oe_form_field>span>div {
    margin-bottom: 5px;
}

.openerp .oe_form input[type="text"],
.openerp .oe_form input[type="password"],
.openerp .oe_form input[type="file"],
.openerp .oe_form select,
.openerp .oe_form textarea,
.openerp .oe_form input[readonly],
.openerp .oe_form select[readonly],
.openerp .oe_form textarea[readonly],
.openerp .oe_form input[disabled],
.openerp .oe_form select[disabled],
.text-core .text-wrap {
    background: none;
    font-family: inherit;
}

.openerp .oe_form input[type="text"],
.openerp .oe_form input[type="password"],
.openerp .oe_form input[type="file"],
.openerp .oe_form select {
    height: 24px;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    outline: none !important;
    background: none;
    max-width: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 2px 0 0!important;
    margin-top: 1px \9!important;
    line-height: normal!important;
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

input[type="radio"] {
    position: relative;
    margin-top: 6px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:before,
input[type="radio"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: #2196f3;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:after {
    position: relative;
    top: -3px;
    border: 2px solid #666666;
}

input[type="radio"]:checked:before {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="radio"]:disabled:checked:before {
    background-color: #bbbbbb;
}

input[type="radio"]:checked:after {
    border-color: #2196f3;
}

input[type="radio"]:disabled:after {
    border-color: #bbbbbb;
}

input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:checked:after {
    background-color: #2196f3;
    border-color: #2196f3;
}

input[type="checkbox"]:disabled:after {
    border-color: #bbbbbb;
}

input[type="checkbox"]:disabled:checked:after {
    background-color: #bbbbbb;
    border-color: transparent;
}

.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]) {
    background: none !important;
}

.openerp input[type="textarea"],
.openerp input[type="text"],
.openerp textarea,
.openerp select {
    border: none;
    border-bottom: #ccc 2px solid;
    border-radius: 0;
    background: none;
    outline: none;
}

.openerp input[type="textarea"]:focus,
.openerp input[type="text"]:focus,
.openerp textarea:focus,
.openerp select:focus {
    border-color: #009688;
}

.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
    background: none!important;
    border-color: #673AB7;
}

.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]):focus,
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]):focus,
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]):focus {
    border-color: #009688!important;
}

.openerp .oe_form_field_radio.oe_vertical label {
    margin-left: 10px;
}

.openerp .oe_form_field_radio.oe_form_required .oe_radio_input {
    border: 0;
}

.openerp .oe_form .oe_form_invalid input,
.openerp .oe_form .oe_form_invalid select,
.openerp .oe_form .oe_form_invalid textarea {
    border: none!important;
    border-bottom: #D50000 2px solid!important;
}

input {
    color: #000;
}

.openerp .oe_form .oe_form_field {
    padding: 2px 8px 2px 0px;
    vertical-align: middle;
    background: #fff;
}

.openerp .oe_kanban_view .oe_kanban_action_button {
    height: 25px;
}

.openerp button {
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
}

.openerp a.button:focus,
.openerp button:focus,
.openerp .oe_button:focus,
.openerp input[type='submit']:focus {
    background: #00796B;
    border: none;
    outline: none;
    box-shadow: none;
}

.openerp a.button:link,
.openerp a.button:visited,
.openerp button,
.openerp .oe_button,
.openerp input[type='submit'] {
    background: #009688;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    text-shadow: none;
}

.openerp a.button:hover,
.openerp button:hover,
.openerp .oe_button:hover,
.openerp input[type='submit']:hover {
    background: #00796B;
}

.openerp .oe_kanban_group_header .oe_dropdown_toggle.oe_dropdown_kanban {
    color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
}

.btn.btn-default.dropdown-toggle {
    padding: 5px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.oe_kanban_show_more {
    min-height: 50px;
}

.openerp button.oe_dropdown_toggle {
    color: #fff;
}

.oe_pager_group a.oe_i {
    display: block;
    margin-top: -2px;
    font-size: 18px;
}

label.btn-default.active span.fa {
    color: #000;
}

label.btn-default:hover span.fa {
    color: #000;
}

.openerp a.button.disabled,
.openerp button:disabled,
.openerp .oe_button:disabled,
.openerp input[type='submit']:disabled {
    text-shadow: none!important;
    border: none!important;
    background: #EEEEEE!important;
}

.openerp button.oe_highlight {
    background: #D50000;
}

.openerp button.oe_highlight:hover {
    background: #B71C1C;
}

.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight {
    background: #00796B;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
}

.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight:hover {
    background: #004D40;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
}

.openerp .oe_followers button.oe_follower.oe_following,
.openerp .oe_followers button.btn.btn-default.dropdown-toggle {
    background: #673AB7;
}

.openerp .oe_followers button.oe_follower.oe_following:hover,
.openerp .oe_followers button.btn.btn-default.dropdown-toggle:hover {
    background: #D50000;
}

.openerp .oe_msg_subtype_check {
    margin: 7px 7px 0 !important;
}

.openerp .oe_button.oe_link {
    color: #009688;
    font-weight: bold;
    background: none;
}

.openerp .oe_searchview_drawer .oe_searchview_section li {
    padding: 2px 5px;
    background-color: #f2f2f2;
    margin: 0 2px 2px 0;
    line-height: 21px;
}

.openerp .oe_searchview_drawer .oe_searchview_section .oe_searchview_custom_list li {
    padding: 0px 5px;
}

.openerp .oe_searchview_drawer .oe_searchview_section li.badge {
    background-color: #7c7bad;
    border-radius: 0px;
    font-size: 13px;
    line-height: 21px;
}

.openerp .oe_searchview_custom_list .badge {
    padding: 4px 7px;
    border-radius: 0px;
}

.openerp .oe_searchview_drawer h4,
.openerp .oe_searchview_drawer h4 * {
    margin: 2px 0px;
    padding-left: 0px;
    font-weight: bold;
    padding: 2px 5px;
}

.openerp .oe_searchview_drawer .oe_searchview_section ul {
    margin: 0px;
}

.openerp .oe_searchview_drawer form {
    margin-left: 14px;
}

.openerp ul.oe_form_status li,
.openerp ul.oe_form_status_clickable li,
.openerp ul.oe_form_status_clickable li.oe_active:hover,
.openerp ul.oe_form_status li>.arrow span,
.openerp ul.oe_form_status_clickable li>.arrow span {
    background: none;
}

.openerp ul.oe_form_status li.oe_active>.arrow span,
.openerp ul.oe_form_status_clickable li.oe_active>.arrow span {
    background: none!important;
    border: solid 2px #673AB7!important;
    box-shadow: none;
    -webkit-border-radius: initial;
    border-radius: initial;
}

.openerp ul.oe_form_status li>.arrow span,
.openerp ul.oe_form_status_clickable li>.arrow span {
    -webkit-border-radius: initial;
    border-radius: initial;
}

.openerp ul.oe_form_status_clickable li:hover {
    background: none;
}

.openerp .oe_application .oe_form_sheetbg {
    background: none;
}

.text-core .text-wrap .text-tags {
    padding: 0px 35px 0px 0px;
}

.openerp .oe_tags .text-wrap textarea {
    padding: 4px 5px 4px 5px;
}

.text-core .text-wrap .text-tags .text-tag .text-button {
    padding: 2px 17px 2px 6px;
}

.text-core .text-wrap .text-arrow {
    top: 4px;
    right: 1px;
    width: 14px;
    height: 9px;
}

.openerp .oe_avatar+div {
    margin-bottom: 15px;
}

.openerp .oe_form_nosheet {
    padding: 16px;
    background-color: white;
    margin: 0px;
}

.openerp .oe_form div.oe_form_configuration .oe_form_group_cell_label,
.openerp .oe_form td.oe_form_group_cell_label {
    font-size: 14px;
    padding: 4px 0px 0px 0px;
}

.openerp .oe_notebook>li>a {
    line-height: 34px;
}

.ui-notify-cross {
    font-size: 14px;
    text-shadow: none;
}

.ui-notify-message-style {
    background: rgba(14, 14, 14, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-notify-message-style span {
    margin: 0px 5px 0 0!important;
}

.openerp td.oe_calendar_sidebar_container {
    vertical-align: top;
    padding: 4px 10px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}

button.ui-state-default:hover,
.ui-widget-content button.ui-state-default:hover {
    background: #E0E0E0;
}

.ui-datepicker-calendar {
    display: block
}

.ui-datepicker td .ui-state-hover {
    background: #9575CD;
}

.ui-datepicker td .ui-state-active {
    background: #673AB7;
}

.ui-datepicker td:hover {
    color: #000;
    font-weight: bold;
    cursor: normal;
}

.ui-datepicker {
    width: auto;
    padding: 0;
}

.openerp .ui-datepicker-calendar thead,
.openerp .ui-datepicker-calendar thead tr th,
.ui-datepicker .ui-datepicker-header {
    border-bottom: #ccc 1px solid;
    border-radius: 0;
}

.openerp .fc-header-right {
    width: 25%;
    text-align: right;
}

.openerp .fc-header-center {
    text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    box-shadow: none;
    background: #EEEEEE;
    border: #BDBDBD 1px solid;
}

.btn-group.kanban_state.open .dropdown-menu.state {
    left: -150px;
}

.oe_im_chatview .oe_im_chatview_footer {
    background: #f9f9f9!important;
}

.oe_im_chatview .oe_im_chatview_input {
    background: none!important;
    border: none!important;
    border-bottom: #ccc 2px solid!important;
    border-radius: 0!important;
    box-shadow: none!important;
    width: 212px!important;
    height: 24px!important;
    margin: 5px 5px!important;
    outline: none!important;
}

.oe_im_chatview .oe_im_chatview_input:focus {
    border-bottom: #009688 3px solid!important;
}

.oe_im .oe_im_frame_header .oe_im_searchbox {
    height: 28px!important;
    padding: 4px 21px 4px 24px!important;
    outline: none!important;
    border-bottom: #ccc 2px solid!important;
}

.oe_im_frame_header .oe_im_searchbox {
    border: none!important;
    width: 200px!important;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    background: #f9f9f9!important;
}

.oe_im .oe_im_frame_header .oe_im_searchbox:focus {
    border-bottom: #009688 3px solid!important;
}

.oe_im_chatview_footer {
    bottom: 0!important;
}

.oe_im_frame_header .oe_im_search_icon {
    top: -6px!important;
}

.oe_im_chatview .oe_im_chatview_right {
    padding: 10px!important;
}

.openerp .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_remove {
    top: 6px;
}

.openerp .oe_stat_button {
    width: 150px !important;
}

.navbar-collapse {
    padding-right: 10px;
    padding-left: 10px;
}

.openerp .oe_leftbar.show {
    display: table-cell !important;
}

.openerp .oe_leftbar.hide {
    display: none !important;
}

@media (max-width: 767px) {
    .openerp .oe_leftbar {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .openerp .oe_leftbar {
        display: table-cell !important;
    }
}

.navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #673ab7;
}

.navbar-toggle.left {
    display: block;
    float: left;
    margin-left: 15px;
    padding: 15px 10px;
}

.openerp .oe_kanban_view .oe_view_nocontent .oe_view_nocontent_content,
.openerp .oe_kanban_view .oe_view_nocontent .oe_view_nocontent_content .oe_view_nocontent_create {
    color: #eee;
}

@media screen and (max-width: 768px) {
    .openerp .oe_searchview {
        min-width: 300px;
    }
    .o_web_client .modal-dialog {
        width: 100%;
    }
    #oe_main_menu_navbar .app-name,
    .navbar-nav .app-name {
        display: none;
    }
    .openerp .oe_form .oe_title h1,
    .openerp .oe_form h1 {
        font-size: 1.5em;
    }
    .oe_form_group_cell {
        width: 100%;
        display: block;
    }
    .openerp .oe_form .oe_form_group .oe_form_group_cell.oe_group_right {
        padding: 0px;
    }
    .openerp .oe_form_sheet_width {
        min-width: 0px;
    }
    .openerp .oe_form div.oe_chatter {
        min-width: 0px;
        padding: 0px;
    }
    .openerp .oe_mail .oe_msg.oe_msg_notification {
        padding: 5px;
    }
    .openerp .oe_record_thread {
        margin-left: 5px;
        margin-right: 185px;
    }
    .oe_breadcrumb_title span {
        font-size: 22px!important;
    }
}