.openerp .oe_kanban_view .oe_kanban_text_yellow {
  color: #FFA62F;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.openerp .oe_kanban_view .oe_kanban_text_green {
  color: #00FF00;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}