<section class="oe_container oe_dark lead">
    <section class="oe_container oe_dark lead">
    <h2><font><p class="text-primary text-center"><b> Website SEO-PRO</b><br>For Helping You In  Increasing You Site Traffic</p></font></h2> 
    <div class="oe_row">    
        <div class='oe_span12'>
            <div class="panel panel-primary" id="wkid0">
            <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-search-plus "></i></i> <b>Website  SEO-PRO</b></h3>
            </div>
                <div class="panel-body">
                <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b> Benefit </b></div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary"></i> High Customer Retention.</li>  
                        <li><i class="fa fa-check text-primary"></i> Improve Page Ranking .</li>                
                        <li><i class="fa fa-check text-primary"></i> Manage SEO Meta Information.</li>
                        <li><i class="fa fa-check text-primary"></i> Provide SEO for Product.</li>
                        <li><i class="fa fa-check text-primary"></i> Provide SEO for Categories.</li>                                          
                        <li><i class="fa fa-check text-primary"></i> Help In Expanding Customer Reach .</li> 
                    </ul>
                <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b> Features </b></div>
                <ul class="list-unstyled ">
                    <li> <i class="fa fa-hand-o-right text-primary"></i> Admin can use many combination of Attribute for managing Meta Information.</li>  
                    <li> <i class="fa fa-hand-o-right text-primary"></i> Admin can set Meta Title of Product as well Category.</li> 
                     <li> <i class="fa fa-hand-o-right text-primary"></i> Admin can set Meta Description  of Product and  Category.</li>
                      <li> <i class="fa fa-hand-o-right text-primary"></i> Admin can Also use  Specific Meta keywords to optimize the search.</li>   
                    <li> <i class="fa fa-hand-o-right text-primary"></i> Admin Use Different-Different Attribute For Meta .</li>                    

                </ul>
                <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-plus-circle"></i> <b> Bonus Feature </div>              
                    <ul class="list-unstyled text-primary">
                        <li><i class="fa fa-check-circle-o"></i> Add Image to  your Category to  displayed on your Website .</li>
                        <li><i class="fa fa-check-circle-o"></i> Add Promotion Message to  your Category to  displayed on your Website .</li>
                        <li><i class="fa fa-check-circle-o"></i> Add alt-text to all your Images displayed on your Website .</li>
                        <li><i class="fa fa-check-circle-o"></i> Manage the SEO for Product Category </b></li>                        
                    </ul>
                
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class='oe_span12'>
            <div class="panel panel-info" id="wkid1">
            <div class="panel-heading">
             <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-line-chart"></i> 
                <b>How It Push Your Growth Up</b></h3>
            </div>
                <div class="panel-body">
                 <p><i>If you want to attract much more visitors with the help of Google and other search engines,
                         then SEO meta-tags optimization is very important for this purpose! & ODOO SEO PRO is the best product for you.</i></p>
                 <p><i> Business purposes can be achieved by using our module website SEO to generate a significant SEO.</i></p>
                 <p><i> SEO can put you ahead of the competition. If two web sites are selling the same thing, 
                        the search engine optimized web site is more likely to have more customers and make more sales.</i></p>               
                 <p><i> Usability of the website and the users experience can be improved by having a good SEO, thus our module help in creating the strong SEO to help you in creates business visibility and branding and  this is what you are looking for your E-Commerce Site.</i></p> 
                </div>
            </div>
            </div>
        </div>
    </section>
     <section class="oe_container oe_dark lead">
      <div class="oe_row">    
          <div class='oe_span12'>
          <div class="panel panel-success" id="wkid2">
          <div class="panel-heading">
          <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-cogs"></i> <b>Setup & Configure</b> </h3>
          </div>    
              <div class="panel-body">
              <div class="alert alert-success"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>Default Parameters</b></div>            
             <p><i>After the successful installation of the ODOO SEO-PRO  module a POP-UP Wizard will Open,You will have to fill the Required Parameter .</i></p> 
              
              <div class="row">
                  <div class="col-md-8" >
                      <img class="img-border img-responsive thumbnail" src="odoo-website-seo.png" alt="ODOO-Website-SEO-PRO-Configuration">                   
                  </div>                    
                  <div class="col-md-4" >
                     <h4> 
                          <p><b>Required Parameter</b></p>
                           <ul>     
                              <li>Attribute Separator.</li>     
                              <li>Value Separator. </li>
                              <li>Meta Title Size.</li>
                              <li>Meta Desc. Size.</li>
                              <li>Meta Keyword Size.</li>
                              <li>Meta Keywords.</li>
                          </ul>                     
                      </h4>
                  </div>         
              </div>     

              </p>  
              <div class="alert alert-success"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>SEO For Product</b></div> 
              <p><i>This module provide the essentials support in managing  the SEO for Products</i></p>
              <p><i>First of all you will have to generate the SEO Meta -Info for you Product for this just go through Sale-->Website SEO</i></p>             
              <ul class="list-unstyle">     
                  <li> Select <b>Product</b> in the SEO For List.</li>     
                  <li> Select product attribute for managing the meta Title,Description, Keywords  . </li>
                  <li> Assign/Change the Multi Attribute Separator.</li>
                  <li> Assign/Change the Multi Value Separator.</li> 
                  <li> Click on Generate Now.</li>              
              </ul>
              
                  <div class="row">
                  <div class="col-md-4" >
                     <h4> 
                      <p><b>Fields For Product SEO</b></p>
                           <ul>     
                              <li> Product Name.</li>     
                              <li> Category Name. </li>
                              <li> Description.</li>
                              <li> Product Description .</li>
                              <li> EAN13 Bar-code .</li>
                              <li> Company Name.</li>
                          </ul>
                       
                      </h4>
                  </div>                    
                  <div class="col-md-8" >
                      <img class="img-border img-responsive thumbnail" src="odoo-website-seo-for-product.png" alt="ODOO-Website-SEO-PRO-Configuration">
                  </div>         
              </div>
               <p><i>After the Clicking the generate button the you will see the message about the Updation, message also include number of  effected product with this SEO generation/Updation.</i></p>
                 <p><img class="oe_picture oe_screenshot" src="odoo-website-seo-for-product-updated.png" alt="ODOO-Website-SEO-PRO-Configuration"><p>        

              <div class="alert alert-success"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>SEO For Category</b></div>
              <div class="row">
                  <div class="col-md-8" >
                   <img class="img-border img-responsive thumbnail" src="odoo-website-seo-for-product.png" alt="ODOO-Website-SEO-PRO-Configuration">
                     
                  </div>                    
                  <div class="col-md-4" >
                  <h4> 
                      <p><b>Fields For Category SEO</b></p>
                           <ul>     
                              <li> Public Category.</li>     
                              <li> Parent Category. </li>                           
                          </ul>
                       
                      </h4>
                     
                  </div>         
              </div>
                
              <p><i>For generating the SEO for Category ,Repeat the Same Step with the changes in attributes.</i></p> 
              <div class="alert alert-success"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i> <b>SEO Listing </b></div>  
              <p><i>This is how your page will look in Google Search Engine.</i></p>
               <p><i><b>SEO listing for Product.</b></i></p>
             <p><img class="oe_picture oe_screenshot" src="odoo-product-seo.jpg" alt="ODOO-Website-SEO-PRO-Configuration"></p>     
               <p><i><b>SEO listing for Category.</b></i></p>
             <p><img class="oe_picture oe_screenshot" src="odoo-category-seo.jpg" alt="ODOO-Website-SEO-PRO-Configuration"></p>                                
          </div>
          </div>
      </div>
      </div>
    </section>
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class='oe_span12'>
            <div class="panel panel-primary" id="wkid1">
            <div class="panel-heading">
             <h3 class="panel-title " style="font-size: 25px;"><i class="fa fa-plus-circle "></i><b>
                Bonus Feature </b></h3>
            </div>
                <div class="panel-body">
                <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i> <b>Promotion Message & Category Image </b></div>
                 <p><i> As we have mention earlier , this plug-in not only just 
                        help in optimizing the page ranking but also provide some distinct feature .</i></p>
                 <p><i> This plug-in allow you to set the category image and Description , 
                        this Description can convey your important promotion message to user .</i></p>
                 <p><i> For prevailing this feature just go to Sale->Configuration-> Public Category 
                        and select the image for the category and write the promotion message.</i></p>
             <p><img class="oe_picture oe_screenshot" src="odoo-website-seo-for-category-backend.jpg" alt="ODOO-Website-SEO-PRO-Configuration"><p>            
            <div class="alert alert-info"  style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-desktop"></i> <b>Website View </b></div>  
            <p><img class="oe_picture oe_screenshot" src="odoo-website-seo-for-category-website.png" alt="ODOO-Website-Category-Image"> <p>
                </div>
            </div>
            </div>
        </div>
    </section>
        <section class="oe_container oe_dark lead">        
        <div class="oe_row">    
                <div class="panel panel-default panel-primary">
                <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-camera-retro "></i><b> Lets Have Quick View</b></h3>
                </div>
                    <div class="panel-body">   
          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">   
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class=""></li>
              <li data-target="#myCarousel" data-slide-to="1" class=""></li>
              <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            </ol>   
            <div class="carousel-inner" role="listbox">
         
              <div class="item peopleCarouselImg active">
                <img src="odoo-website-seo.png" alt="ODOO-Website-SEO-Dedault-Paramater">
                <div class="carousel-caption">
                  <h2><font><p class="text-success"><b>Set Default Parameters</b></p></font></h2>          
                </div>
              </div>
            
              <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-product.png" alt="ODOO-Website-SEO-For-Product">
                <div class="carousel-caption">
                 <h2><font><p class="text-success"><b>Set Product SEO </b></p> </font></h2>
                </div>
              </div>
               <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-product-updated.png" alt="ODOO-Website-SEO-For-Product-Updated">
                <div class="carousel-caption text-success">
                  <h2><font><p class="text-success"><b> Product SEO Updated </b> </p></font></h2>
                </div>
              </div>
               <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-product-category.png" alt="OODOO-Website-SEO-For-Category" >
                <div class="carousel-caption">
                 <h2><font> <p class="text-success"><b>Set Category SEO </b></p></font></h2>         
                </div>
              </div> 
              <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-product-category-updated.png" alt="ODOO-Website-SEO-For-Category-Updated" >
                <div class="carousel-caption">
                 <h2><font><p class="text-success"><b>Category SEO Updated </b></p></font></h2>        
                </div>
              </div>    
              <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-category-backend.jpg" alt="ODOO-Website-Category-Image">
                <div class="carousel-caption">
                 <h2><font><p class="text-primary"><b>Bonus Feature</b></p></font> </h2>
                  <p class="text-primary"><b>Set Category Image</b></p>         
                </div>
              </div> 
              <div class="item peopleCarouselImg">
                <img src="odoo-website-seo-for-category-website.png" alt="ODOO-Website-Category">
                <div class="carousel-caption">
                  <h2><font><p class="text-primary"><b>Promotion Message</b></p></font><h2>         
                </div>
              </div> 
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <i class="fa fa-hand-o-left text-info"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control text-danger" href="#myCarousel" role="button" data-slide="next">
              <i class="fa fa-hand-o-right text-info"></i>
              <span class="sr-only">Next</span>
            </a>
            </div>
            </div>
            </div>  
          
        </div> 
    </section>
</section>
<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-center"><a> Get Technical Help & Support</a></h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced text-center">                      
            <span><a data-toggle="tooltip" data-placement="bottom" title="Get Instant Help !" target="_blank" 
                        href="https://webkul.com/ticket/open.php"> <i class="fa fa-life-ring"></i> Help</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Get Instant Support!"target="_blank" 
                        href="https://webkul.com/ticket/open.php"><i class="fa fa-ticket"></i> Support</a></span>            
            <span><a data-toggle="tooltip" data-placement="bottom"title="Request Features now !"target="_blank" 
                        href="https://webkul.com/ticket/open.php"><i class="fa fa-check-circle"></i> Request Features</a></span>
        </div>
    </div>
</section>