body.oe_single_form .oe_single_form_footer{
	display:none !important;
}
/*.openerp .oe_leftbar > div .oe_footer{
	display:none !important;
}*/
.navbar-inverse{
	/* background-color:#3D8CFF;#5BD8EB 2DACEF*/
	background-color:#dbd955;
	border-color:#dbd955;
	border-top:0;
	box-shadow: 0px 3px 3px #f76565;
}

.navbar-inverse .navbar-nav > li > a{
	color:#fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#B576A4;
	font-weight:bold;
	color:white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color:#21B799;
	font-weight:bold;
}
.openerp .oe_view_manager_current > .oe_view_manager_header {
    background-color: #21B799;
    background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
}

.oe_view_manager_wrapper{
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}
.openerp .oe_login button, .openerp button.oe_highlight{
	background-color: #21B799;

}
.openerp button.oe_highlight:hover{
	background-color: #38C9AC;
}

.openerp .oe_secondary_menu_section {
  font-weight: bold;
  margin-left: 8px;
  color: #dbd955;
}
.openerp .oe_secondary_menu_section > .oe_menu_leaf {
  font-weight: bold;
  color: #dbd955;
}
.openerp .oe_form_field_many2one .oe_m2o_cm_button {
  line-height: 27px;
  float: right;
  padding-left: 2px;
  font-size: 19px;
  color: #dbd955;
  cursor: pointer;
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #B5B5B5;
  color: white;
  border-radius: 0;
}
.openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus, .openerp a.list-group-item.active a:hover, .openerp a.list-group-item.active a:focus {
  background-color: #21B799;
}
.openerp .nav-pills > li.active .badge, .openerp a.list-group-item.active .badge {
  background-color: white;
  color: #dbd955;
  text-shadow: none;
}
.openerp .badge {
  font-weight: normal;
  font-size: 11px;
  background-color: #dbd955;
}

.openerp .oe_pivot.oe-enable-linking td:noat(.oe-closed):not(.oe-opened):not(.oe-empty):hover {
  color: #21B799;
}

.openerp ul.oe_form_status li.oe_active, .openerp ul.oe_form_status_clickable li.oe_active {
  background-color: #21B799;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A2EBDC), to(#13AB8C));
  background-image: -webkit-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -moz-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -o-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: linear-gradient(to bottom, #A2EBDC, #13AB8C);
}
.openerp ul.oe_form_status li.oe_active > .arrow span, .openerp ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #21B799;
  background: -moz-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -o-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -webkit-gradient(linear, left top, right bottom, from(#A2EBDC), to(#13AB8C));
  background: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
}

.openerp .ui-widget-content a {
  color: #dbd955;
}

.openerp .oe_stat_button .o_button_icon {
  color: #dbd955;
  font-size: 24px;
  padding: 0px 3px;
  width: 37px;
  text-align: center;
}
.openerp .oe_horizontal_separator {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0px 10px 0px;
  color: #dbd955;
}

.openerp ul.oe_form_status_clickable li.oe_active:hover {
  background-color: #dbd955;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A2EBDC), to(#13AB8C));
  background-image: -webkit-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -moz-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -o-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: linear-gradient(to bottom, #A2EBDC, #13AB8C);
}

.openerp ul.oe_form_status_clickable li.oe_active:hover > .arrow span {
  background-color: #dbd955;
  background: -moz-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -o-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -webkit-gradient(linear, left top, right bottom, from(#A2EBDC), to(#13AB8C));
  background: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
}
