<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    <meta charset="UTF-8">
	</head>
	<body style="text-align: center;">
		<div style="text-size-adjust: none !important; -ms-text-size-adjust: none !important; -webkit-text-size-adjust: none !important; margin: 0 auto; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 14px; color:#000; text-align: center; width: 1170px;">
			<div style="margin: 0 auto;">
				<table width="100%">
					<tr>
						<td>
							<img width="250" src="data:image/png;base64,${o.company_id.logo}"/>
						</td>
						<td>
							<div style="text-align: right; float: right;">
								${ translate(u'Order')}: ${ o.name or ''} ${ o.client_order_ref or ''}  ${ setLang(o.partner_id.lang)}${ get_label(o,'date_order')}: ${ formatLang(o.date_order, date=True)}
							</div>
						</td>
					</tr>
				</table>
				<table width="100%">
					<tr>
						<td width="50%" style="text-align: left">
							<table>
								<tr>
									<td>
										${ get_label(o.payment_term, 'name')}:
										${ get_selection_item(o.payment_term, o.payment_term.type) or ''}
										${ o.payment_term and o.payment_term.note or o.payment_term and o.payment_term.name or ''}<br />
										${ o.company_id.bank_ids[0].bank_name}<br />
										IBAN ${ o.company_id.bank_ids[0].iban}
									</td>
								</tr>
							</table>
						</td>
						<td width="50%" style="text-align: left">
							<table>
								<tr>
									<td>
										${ get_label(o,'partner_invoice_id')}:<br />
										${ o.partner_invoice_id.title}
										${ o.partner_invoice_id.name or ''}<br />
										${ o.partner_invoice_id.street or ''} <br />
										${ o.partner_invoice_id.zip or ''}  ${ o.partner_invoice_id.city or ''} (${ o.partner_invoice_id.state_id.code}) ${ o.partner_invoice_id.country_id.name or ''}
										<br />
										${ get_label(o.partner_invoice_id,'phone')}: ${ o.partner_invoice_id.phone}<br />
										E-mail: ${ o.partner_invoice_id.email}<br /><br />

										${ translate(u'VAT')}: ${ o.partner_id.vat or ''}<br />
										C.F.: ${ o.partner_id.fiscalcode}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<div style="margin: 0 auto; text-align: left">
				<table>
					<tr>
						<td>${ translate(u'code')}</td>
						<td>${ translate(u'description')}</td>
						<td>${ translate(u'q.ty')}</td>
						<td>${ translate(u'amount')}</td>
						<td>${ translate(u'discount')}</td>
						<td>${ translate(u'VAT')}</td>
						<td>${ translate(u'total untaxed')}</td>
					</tr>
					{% for l in o.order_line %}\
                    <tr>
                        <td></td>
						<td>${ l.name }</td>
						<td>${ l.product_uom_qty }</td>
						<td>${ l.price_unit }</td>
						<td></td>
						<td></td>
						<td>${ l.price_subtotal }</td>
                    </tr>
                    {% end %}
				</table>
			</div>
            {% for l in o.order_line %}\
			${ l.product_id.name }
            </br>
            {% end %}
			<div style="margin: 0 auto; text-align: left">
				${ o.note or ''}<br />
				${ o.fiscal_position.note or ''}
			</div>
		</div>
	</body>

</html>