<!-- Description -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#428bca">Stocks Access Rules</h2>
            <h3 class="oe_slogan" style="color:#428bca">Restrict users access to stocks and locations</h3>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
               The app goal is to limit user access to a specified warehouse and location. The tool let you better control movements and organize geographically distributed warehouse system
            </p>
            <h4 class="oe_slogan oe_mt32" style="color:#428bca">Features</h4>
            <p class="oe_mt32">
                <ul>
                    <li class="oe_mt16">A user would see only the locations and the stocks placed <i>either</i> on his/her locations, <i>or<i> on the locations <i>without</i> accepted users stated</li>
                    <li class="oe_mt16">Define users on the form of locations or locations on a the form of users. Both approaches would lead to the same results</li>
                    <li class="oe_mt16">Be cautious: if no user is defined on a location form, those locations and the related stocks would be visible for everybody</li>
                    <li class="oe_mt16">Be cautious: use the app only for internal locations</li>
                </ul>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot oe_mt16">
               <img src="first.png" alt='Odoo Warehouse Limit Access'>
            </div>
            <div class="oe_demo oe_picture oe_screenshot oe_mt16">
               <img src="second.png" alt='Odoo Locations and Stocks User rights'>
            </div>
            <div class="oe_demo oe_picture oe_screenshot oe_mt16">
               <img src="third.png" alt='Odoo Stock Access Rules'>
            </div>
        </div>
    </div>
</section>
<!-- Demo -->
<!--<section class='oe_container oe_dark'>
    <div class="oe_row oe_spaced">
        <div class="oe_centeralign oe_span12">
            <h2><a  class="btn btn-primary btn-lg" href="http://DATABASE_NAME.erpbase.ru/" style="color:white" target='_blank'><strong><i class="fa fa-arrow-right"/>  Test online</a></strong></h2>
            <h4 class="oe_slogan">login - <strong>demo</strong>; password - <strong>demo</strong><</h4>
        </div>
    </div>
</section>-->
<!-- Example -->
<!--<section class='oe_container'>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan" style="color:#428bca">Example</h4>
            <p class="oe_mt32">
                <ol>
                    <li class="oe_mt16">Imagine, you</li>
                    <li class="oe_mt16"><i class="fa fa-arrow-right"/> Then</li>
                </ol>
            </p>
        </div>
    </div>
</section>-->
<!-- About us -->
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan" style="color:#428bca">Developers</h4>
        </div>
        <div class="oe_span6 oe_mt16 oe_centeralign">
            <p class="">
                <ul style='list-style:None'>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/website.contactus"  style="color:#31708f"><i class="fa fa-bell-o"></i> Contact Us</a></big></big></li>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/odoo-customization" style="color:#31708f"><i class="fa fa-wrench"></i> Odoo Customization</a></big></big></li>
                    <li class="oe_mt16"><big><big><a href="https://itlibertas.com/en_US/page/odoo-support" style="color:#31708f"><i class="fa fa-life-ring"></i> Odoo Support and Maintenance</a></big></big></li>
                </ul>
            </p>
        </div>
        <div class="oe_span6 oe_mt16">
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://itlibertas.com/en_US/page/homepage">
                    <img src="site.png"  alt='Odoo Services by IT Libertas'>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Recomendations -->
<section class='oe_container'>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h4 class="oe_slogan" style="color:#428bca">Suggested Apps</h4>
        </div>

        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/product_stock_balance/">
                            Stocks by Locations
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/product_stock_balance/">
                    <img src="app_3.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>
        </div>
        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/colors_customization/">
                            Customizable Interface
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/colors_customization/">
                    <img src="app_1.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>
        </div>
        <div class="oe_span4 oe_mt16">
            <div class="oe_centeralign">
                <h5>
                    <big>
                        <a href="https://apps.odoo.com/apps/modules/8.0/joint_calendar/">
                            Joint Calendar
                        </a>
                    </big>
                </h5>
            </div>
            <div class="oe_demo oe_picture oe_screenshot ">
                <a href="https://apps.odoo.com/apps/modules/8.0/joint_calendar/">
                    <img src="app_2.png"  alt='Odoo App IT Libertas'>
                </a>
            </div>
        </div>
    </div>
</section>