.oe_hidemenu {
    background-size: auto;
    display: block;
    float: left;
    margin-left: 5px;
    padding: 5px 5px;
    border: none;
}
.oe_letters {
}
@media screen and (max-device-width: 760px) {
/* hide header */
.openerp .oe_view_manager table.oe_view_manager_header h2,
.openerp .oe_view_manager_view_search {
    display: none;
}
.openerp .oe_form_sheetbg {
    padding: 0px !important;
}
/* hide print-attachments button */
.openerp .oe_view_manager table.oe_view_manager_header .oe_view_manager_sidebar {
    display: none !important;
}
/* reduce sheet width */
.openerp .oe_form_sheet_width {
    min-width: 300px;
}
/* fix vertical align of fields */
.openerp .oe_form td.oe_form_group_cell + .oe_form_group_cell {
    padding: 0px 0px 2px 8px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 8px;
}
/* fix align on images */
.openerp td {
    vertical-align: middle;
}
/* fix margin rows */
.openerp .oe_form .oe_form_group {
    margin: 2px 0 2px 0;
}
}