<section class="oe_container">
    <div class="oe_row oe_spaced"> 
        <div class="oe_span12">
            <h3 class="text-info text-center"><u>Introduction</u></h3>
        </div>

        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
               <center><img class="oe_picture oe_screenshot" src="website_webkul_addons_main_image.png" alt="website_webkul_addons_main_image"></center>
            </div>
        </div>
        <div class='oe_span12'>
            <ul>
                <li >You Can Easily Install, Uninstall and Configure Your Webkul Module From One Page There is No Need to open Many Tab and Settings.</li>
                <li >You Get All Webkul Addons on One Page According to Group.</li>
            </ul>
        </div>    
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>