<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Visible Discount in Sale</h2>
        <h3 class="oe_slogan">Enable discount visibility separately on Sale Order from pricelist</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Visible Discount on Sales Order</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
By installing this module, you will find an option under Settings >> Configuration >> Sales menu. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="visible_discount_1.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Visible Discount in Pricelist</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="visible_discount_2.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Once you tick the option "Visible Discount on Sales Order" under Settings >> Configuration >> Sales menu,
                a field named as "Visible Discount" will be visible in any Pricelist form. That field will be visible only if your pricelist
                type will be kind of "Sale Pricelist".
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Separated Base price & Discount in Sale Order</h2>
        <div class="oe_span6">
            <p class='oe_mt32'> 
In the sale order, if pricelist has "Visible Discount" ticked then Base price and discount will be shown as separated value inside order line.This separation will be applicable on the final price calculated after apply through pricelist. However if you want to increase/decrease discount in order line then you can set afterwards in order line. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="visible_discount_3.png">
            </div>
        </div>
    </div>
</section>



<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Help&nbsp;</a></span>
            <span class="fa fa-road fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/generate_support_ticket">&nbsp;Support&nbsp;</a></span>
            <span class="fa fa-wrench fa-1x" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.emiprotechnologies.com/requestquote">&nbsp;Request new Features</a></span>
</div>
</section>
